*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Lato', sans-serif;
    background: #1A237E;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  .container{
    max-width:800px;
    margin:auto;
    padding:1rem 1rem;
    height:100%;
  }
  #content
  {
    background: white;
    text-align:center;
    border-radius: 3rem;
    padding:1rem 2rem 2rem;
  }
  #heading{
    padding:1rem 0 1rem; 
    font-size:3rem;
    color:#304FFE;
    text-shadow:3px 3px #64B5F6;
  }
  .para
  {
    margin:1rem 0rem 1.4rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color:#333;
  }
  #select
  {
    margin-top:4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .link:first-child
  {
    margin-right:1rem;
  }
  .link
  {
    flex:1;
    background:#FFEB3B;
    padding:1rem;
    font-size:1.2rem;
    border-radius: 2rem;
    text-align:center;
    color:#303F9F;
    font-weight:700;
  }
  .link:hover
  {
    cursor: pointer;
    background: #FDD835;
  }
  